* {
    position: relative;
}

#nav_bar {
    padding: 0;
}

nav div {
    padding: 10px;
    background-color: #9C9C9C;
}

#dashboard, #customer, #item, #order {
    font-weight: 600;
    color: #1f1f1f;
}
.card {
    border: none;
    display: flex;
    align-items: center;
}

.card_body {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #1f1f1f;
    border-radius: 20px;
    color: white;
}

.card_body h1 {
    font-size: 4rem;
    text-align: center;
}

.chart {
    width: 85%;
    height: 80%;
}

.black-border-1 {
    border: 1px solid black;
}

.search {
    border: 1px solid black;
    border-radius: 50px;
    height: 50px;
}

.search-btn {
    font-size: 2.2rem;
    position: absolute;
    top: calc(50% - 1.2rem);
    margin: auto;
    right: 20px;
}

.buttons button {
    width: 32%;
}

table tbody, table thead {
    border: 1px solid black;
}

#add-btn, #order-btn {
    width: 100%;
}

.customer-pane {
    background-color: #CEFFF3;
    border: 1px solid grey;
    border-radius: 15px;
}

.item-pane {
    background-color: #FEFFD4;
    border: 1px solid grey;
    border-radius: 15px;
    margin-right: 15px;
}

.order-pane {
    background-color: #B2FFBA;
    border: 1px solid grey;
    border-radius: 15px;
}

.total {
    border: 1px solid black;
    border-radius: 15px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}